#app .item {
    padding: 2rem 3rem;
    font-size: 25px;
    background-color: #e9f71c;
    color: black;
    min-width: 10rem;
    margin-right: 20px;
    width: fit-content;
    cursor: pointer;
    user-select: none;
}

#app .item:nth-child() {
    margin-right: 0;
}

#app .wrap {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}